<div class="footer">
    <div class="credits">
        © 2011 Rotary First Harvest - a program of Rotary District 5030. All rights reserved.
    </div>
    <div class="disclaimer">
    <p>
        RFH and its programs are funded exclusively through the financial support of Rotary District 5030,
        corporations, foundations and individuals, with no support from, affiliation with, or endorsement by Rotary International,
        which accepts no liability therefore.
    </p>
    </div>
</div>