@model RFH.Models.ContentData
		   
@{
    ViewBag.Title = "General Resources - Rotary First Harvest";
}

<div id="MainWindow">
	<div id="MainWindowTop">
		<div id="WelcomeContent">
			@Html.Raw( @Model.Content )
		</div>
	</div>
</div>