@model RFH.Models.ContentData
		   
@{
	ViewBag.Title = "Rotary First Harvest - Produce Recovery Guide";
}

<style type="text/css">
	#MainWindow
	{
		padding: 15 15 15 15;
	}
</style>

<div id="MainWindow">

	<div id="MainWindowTop">
		<div id="WelcomeContent">
			@Html.Raw( @Model.Content )
		</div>
	</div>

	<hr style="clear:both;" />

	<div id="MainWindowBottom">
        @Html.Action("Wizard")
	</div>

</div>
