@model RFH.Models.ContentData
		   
@{
	ViewBag.Title = "Index";
}

<style type="text/css">
	#MainWindow
	{
		padding: 15 15 15 15;
	}
</style>

<div id="MainWindow">
	<div id="MainWindowTop">
		<div id="WelcomeContent">
			@Html.Raw( @Model.Content )
		</div>

		@*
		<div id="ImageContent">
			<img src="@Url.Content("~/Content/images/placeholder.png")" width="100%"
					alt="IMAGE WILL GO HERE." />
		</div>
		*@
	</div>

	<div style="clear:both"></div>

	<div id="MainWindowBottom">
		<h2>Find a Host Site</h2>
		<p>
			To narrow the list of host sites on the right, select one or more filters below.<br />
			To view a host site's information and articles, click the host site's name on the right.
		</p>

        @Html.Action("Wizard")

	</div>
</div>
