@model IEnumerable<RFH.Models.HostSite>

<h2>Host Sites</h2>

<ul>
    @foreach (var item in Model) {
        <li>@Html.ActionLink(item.Name, "Details", "Site", new { id = item.Name }, null)</li>
    }
</ul>