@model IEnumerable<RFH.Models.Category>

<h2>Categories</h2>

<ul>    
    @foreach (var item in Model) {
        <li>@Html.ActionLink(item.Name, "Index", "Category", new { id = item.UrlFriendlyName}, null)</li>
    }
</ul>    