@model bool?
<div class="editor-label">
    @Html.LabelFor(model => model)
</div>
<div class="editor-field">
    @Html.CheckBox("", Model.HasValue ? Model.Value : false, new { Class = "checkbox" })
    @Html.ValidationMessageFor(model => model)
</div>