@{
    ViewBag.Title = "LayoutTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LayoutTest</h2>

<div class="harryPotter">
    <form class="search">
        <div class="question">
            What kind of organization would you be?
            <select name="orgType">
                <option selected value=""></option>
                <option value="foodbank">Food Bank</option>
                <option value="nonprofit">Non-Profit</option>
                <option value="cap">Community Action Program</option>
                <option value="coalition">Coalition</option>
            </select>
        </div>
        
        <div class="question">
            What kind of region are you in?
            <select name="regionType">
                <option selected value=""></option>
                <option value="rural">Rural</option>
                <option value="urban">Urban</option>
                <option value="suburb">Suburban</option>
                <option value="ruralCity">A city, surrouned by rural areas</option>
            </select>
        </div>
        
        <div class="question">
            How much agriculture is there?
            <select name="agSize">
                <option selected value=""></option>
                <option value="residential">Residential</option>
                <option value="small">Small Scale</option>
                <option value="commercial">Large Commercial</option>
            </select>
        </div>
            
        <div class="question">
            How long has your program been running?
            <select name="yearsOld">
                <option selected value=""></option>
                <option value="short2">Less than two years</option>
                <option value="med2to5">Two to five years</option>
                <option value="long5">Five or more years</option>
            </select>
        </div>
            
        <div class="question">
            What kind of crops are being grown?
            <select name="cropType">
                <option selected value=""></option>
                <option value="veg">Veggie Row Crops</option>
                <option value="fruit">Tree Fruit</option>
            </select>
        </div>
            
        <div class="question">
            How many agencies are receiving the fruits of your labors?
            <select name="numRecipients">
                <option selected value=""></option>
                <option value="one">One (host site)</option>
                <option value="few2to8">Two to eight agencies</option>
                <option value="some10to25">ten to twentyfive</option>
                <option value="many25">more</option>
            </select>
        </div>
    </form>
    <div class="results" id="hermoine">
    </div>
    <div class="clear"></div>
    
    <script type="text/javascript">        var chapters = [
	        {
	            "id": 1,
		        chapterName: "Turquoise Falcon",
		        chapterUrl: "blah",
		        criteria: {
                    "orgType": "foodbank",
                    "regionType": "rural",
                    "agSize": "small",
                    "yearsOld": "long5",
                    "cropType": "veg",
                    "numRecipients": "many25"
                }
	        },
	        {
	            "id": 2,
		        chapterName: "Scarlet Piglet",
		        chapterUrl: "blah",
		        criteria: {
                    "orgType": "foodbank",
                    "regionType": "urban",
                    "agSize": "commercial",
                    "yearsOld": "short2",
                    "cropType": "fruit",
                    "numRecipients": "one"
                }
	        },
	        {
	            "id": 3,
	            chapterName: "Mauve Komodo Dragon",
	            chapterUrl: "blah",
		        criteria: {
                    "orgType": "coalition",
                    "regionType": "suburb",
                    "agSize": "commercial",
                    "yearsOld": "med2to5",
                    "cropType": "fruit",
                    "numRecipients": "some10to25"
                }
	        },
	        {
	            "id": 4,
		        chapterName: "Pink Panther",
		        chapterUrl: "blah",
		        criteria: {
                    "orgType": "nonprofit",
                    "regionType": "suburb",
                    "agSize": "small",
                    "yearsOld": "med2to5",
                    "cropType": "veg",
                    "numRecipients": "many25"
                }
	        },
	        {
	            "id": 5,
		        chapterName: "Cyan Mustang",
		        chapterUrl: "blah",
		        criteria: {
                    "orgType": "coalition",
                    "regionType": "ruralCity",
                    "agSize": "commercial",
                    "yearsOld": "long5",
                    "cropType": "veg",
                    "numRecipients": "many25"
                }
	        },
	        {
	            "id": 6,
		        chapterName: "Purple Cat",
		        chapterUrl: "blah",
		        criteria: {
                    "orgType": "foodbank",
                    "regionType": "rural",
                    "agSize": "small",
                    "yearsOld": "med2to5",
                    "cropType": "fruit",
                    "numRecipients": "few2to8"
                }
	        }
        ];

        criteria = {
            "orgType": "foodbank",
            "cropType": "fruit"
	    };

        var chapterLinks = {};
        var results = $("#hermoine");
        for (var i in chapters) {
            var chapter = chapters[i];
            var newHtml = "<a href=\"http://" + chapter.chapterUrl + "\">"
                        + chapter.chapterName
                        + "</a>";
            var newHtmlNode = $(newHtml);
            results.append(newHtmlNode);
	        chapterLinks[chapter.id] = newHtmlNode;
	    }

	    var applyCriteria = function (criteria, chapters, chapterLinks) {
	        for (var i in chapters) {
	            var chapter = chapters[i];
	            console.log("Looking at chapter: " + chapter.chapterName);

	            var chapterIsOk = true;
	            for (var criterion in criteria) {
	                console.log("Comparing [" + criteria[criterion] + "] to [" + chapter.criteria[criterion] + "]");
	                if (criteria[criterion] && chapter.criteria[criterion] != criteria[criterion]) {
	                    console.log("mismatch, break");
	                    chapterIsOk = false; break;
	                }
	            }

	            var chapterNode = chapterLinks[chapter.id];
	            if (chapterIsOk) {
	                chapterNode.removeClass("hidden");
	            } else {
	                chapterNode.addClass("hidden");
	            }
	        }
	    }
	    xCrit = criteria;
	    xChap = chapters;
	    xLink = chapterLinks;
	    xFn = applyCriteria;    </script>
</div>