@{
    ViewBag.Title = "LayoutTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Wizard</h2>

<div class="searchWizard">
    <form class="search">
        <div class="question">
            <p>What kind of organization would you be?</p>
            <select name="orgType">
                <option selected value=""></option>
                <option value="foodbank">Food Bank</option>
                <option value="nonprofit">Non-Profit</option>
                <option value="cap">Community Action Program</option>
                <option value="coalition">Coalition</option>
            </select>
        </div>
        
        <div class="question">
            <p>What kind of region are you in?</p>
            <select name="regionType">
                <option selected value=""></option>
                <option value="rural">Rural</option>
                <option value="urban">Urban</option>
                <option value="suburb">Suburban</option>
                <option value="ruralCity">A city, surrouned by rural areas</option>
            </select>
        </div>
        
        <div class="question">
            <p>How much agriculture is there?</p>
            <select name="agSize">
                <option selected value=""></option>
                <option value="residential">Residential</option>
                <option value="small">Small Scale</option>
                <option value="commercial">Large Commercial</option>
            </select>
        </div>
            
        <div class="question">
            <p>How long has your program been running?</p>
            <select name="yearsOld">
                <option selected value=""></option>
                <option value="short2">Less than two years</option>
                <option value="med2to5">Two to five years</option>
                <option value="long5">Five or more years</option>
            </select>
        </div>
            
        <div class="question">
            <p>What kind of crops are being grown?</p>
            <select name="cropType">
                <option selected value=""></option>
                <option value="veg">Veggie Row Crops</option>
                <option value="fruit">Tree Fruit</option>
            </select>
        </div>
            
        <div class="question">
            <p>How many agencies are receiving the fruits of your labors?</p>
            <select name="numRecipients">
                <option selected value=""></option>
                <option value="one">One (host site)</option>
                <option value="few2to8">Two to eight agencies</option>
                <option value="some10to25">ten to twentyfive</option>
                <option value="many25">more</option>
            </select>
        </div>
    </form>
    <div class="results"></div>
    <div class="clear"></div>
    
    <script type="text/javascript">

        function SearchWizard(queryForm, searchResultsWidget)
        {
            this.queryForm = queryForm;
            this.searchResultsWidget = searchResultsWidget;

            this._getFilters = function () {
                var filters = {};
                var formSelects = this.queryForm.find('select');   // Find all dropdowns in the form
                formSelects.each(function() {
                    filters[this.name] = this.value;            // Add dropdown's value to filter as key/value pair
                });
                return filters;
            };

            this._onChange = function () {
                console.log("onChange fired");
                var filters = this._getFilters();
                this.searchResultsWidget.applyFilters(filters);
            };

            var me = this;
            var changeElems = this.queryForm.find('select');
            changeElems.change(function () { me._onChange() });
            changeElems.keyup(function () { me._onChange() });
        };

        function SearchResults (hostSites, jqResultsNode)
        {
            this.hostSites = hostSites;
            this.hostSiteLinkNodes = {}; // map hostSiteId -> hostSiteLinkNode
            this.jqResultsNode = jqResultsNode;
            this.jqSorryNode = null;

            for (var i in this.hostSites) {
                var hostSite = this.hostSites[i];

                // Create a new host-site hyperlink
                var newHtml = "<div><a href=\"" + hostSite.url + "\">" + hostSite.name + "</a></div>";
                var newHtmlNode = $(newHtml);

                // Map the host-site's data object to its hyperlink, for easy retrieval 
                this.hostSiteLinkNodes[hostSite.id] = newHtmlNode;

                // Add the hyperlink to the document
                this.jqResultsNode.append(newHtmlNode);
            }

            // If the user filters away all possible host-sites, then display an apology, even though it's the user's fault.
            this.jqSorryNode = $("<div class=\"sorry hidden\">Sorry, but none of our sites match your search parameters. Please remove or change some filters, and try again.</div>");
            this.jqResultsNode.append(this.jqSorryNode);

            this.applyFilters = function (filters) {
                filters = filters || {};
                var isAnySearchResultShown = false;

                for (var i in this.hostSites) {
                    var hostSite = this.hostSites[i];
                    var isFilteredOut = false;

                    // Test every host-site to see if it passes all the filters
                    for (var fKey in filters) {
                        var fVal = filters[fKey] || "";
                        var hsVal = (hostSite.criteria && hostSite.criteria[fKey]) || "";
                        if (fVal != "" && hsVal != fVal) {
                            isFilteredOut = true;
                            break;
                        }
                    }

                    // Show/hide the host-site's hyperlink
                    var hostSiteLinkNode = this.hostSiteLinkNodes[hostSite.id];
                    if (isFilteredOut && hostSiteLinkNode) {
                        hostSiteLinkNode.addClass("hidden");
                    } else {
                        hostSiteLinkNode.removeClass("hidden");
                        isAnySearchResultShown = true;
                    }
                }

                if (isAnySearchResultShown) {
                    this.jqSorryNode.addClass("hidden");
                } else {
                    this.jqSorryNode.removeClass("hidden");
                }
            }
        };

        var mockHostSites = [
	        {
	            id: 1,
	            name: "Turquoise Falcon",
	            url: "blah",
	            criteria: {
	                "orgType": "foodbank",
	                "regionType": "rural",
	                "agSize": "small",
	                "yearsOld": "long5",
	                "cropType": "veg",
	                "numRecipients": "many25"
	            }
	        },
	        {
	            id: 2,
	            name: "Scarlet Piglet",
	            url: "blah",
	            criteria: {
	                "orgType": "foodbank",
	                "regionType": "urban",
	                "agSize": "commercial",
	                "yearsOld": "short2",
	                "cropType": "fruit",
	                "numRecipients": "one"
	            }
	        },
	        {
	            id: 3,
	            name: "Mauve Komodo Dragon",
	            url: "blah",
	            criteria: {
	                "orgType": "coalition",
	                "regionType": "suburb",
	                "agSize": "commercial",
	                "yearsOld": "med2to5",
	                "cropType": "fruit",
	                "numRecipients": "some10to25"
	            }
	        },
	        {
	            id: 4,
	            name: "Pink Panther",
	            url: "blah",
	            criteria: {
	                "orgType": "nonprofit",
	                "regionType": "suburb",
	                "agSize": "small",
	                "yearsOld": "med2to5",
	                "cropType": "veg",
	                "numRecipients": "many25"
	            }
	        },
	        {
	            id: 5,
	            name: "Cyan Mustang",
	            url: "blah",
	            criteria: {
	                "orgType": "coalition",
	                "regionType": "ruralCity",
	                "agSize": "commercial",
	                "yearsOld": "long5",
	                "cropType": "veg",
	                "numRecipients": "many25"
	            }
	        },
	        {
	            id: 6,
	            name: "Purple Cat",
	            url: "blah",
	            criteria: {
	                "orgType": "foodbank",
	                "regionType": "rural",
	                "agSize": "small",
	                "yearsOld": "med2to5",
	                "cropType": "fruit",
	                "numRecipients": "few2to8"
	            }
	        }
        ];

        var mockFilters = {
            "orgType": "foodbank",
            "cropType": "fruit"
        };

        $(document).ready(function() {
            g_searchResults = new SearchResults(mockHostSites, $('.searchWizard .results'));
            g_searchWizard = new SearchWizard($(".searchWizard form.search"), g_searchResults);
        });

    </script>
</div>