@model RFH.Models.AdminIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Admin</h1>

        <p>@Html.ActionLink("Manage HostSites", "Index", "ManageHost")</p>
        <p>@Html.ActionLink("Manage Categories", "Index", "ManageCategory")</p>
        <p>@Html.ActionLink("Edit ContentData", "Index", "ManageContent")</p>

    </div>
</body>
</html>
