@model RFH.Models.AdminIndexViewModel

<div>

    <h1>Admin</h1>

    <p>@Html.ActionLink("Manage HostSites", "Index", "ManageHost")</p>
    <p>@Html.ActionLink("Manage Categories", "Index", "ManageCategory")</p>
    <p>@Html.ActionLink("Edit ContentData", "Index", "ManageContent")</p>
</div>
