@model RFH.Models.AdminIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Admin</h1>

        <p>@Html.ActionLink("Manage HostSites", "Index", "ManageHost")</p>

        <h2>Categories</h2>

        <ol>
            @foreach (var item in Model.Categories)
            {
                <li>@Html.ActionLink(item.Name, "Detail", "ManageCategory", new { item.Id }, null)</li>
            }
            <li>@Html.ActionLink("Add New Category", "Create", "ManageCategory")</li>
        </ol>

        <p>@Html.ActionLink("Edit ContentData", "Index", "ManageContent")</p>
        

    </div>
</body>
</html>
