@model RFH.Models.ContentData
@{
  ViewBag.Title = "Produce Recovery Guide";
}
@section Head {
  @Html.Partial("_ImageSliderHead")
}
<div class="row-fluid mainContent">
  <div class="span2">
  </div>
  <div class="span2 well">
    <img src="/Content/images/newHeader.png" class="mainLogo" alt="mainLogo"/>
    <hr />
    <p>Here is an explanation of what our organization does and what this site is for</p>
    <hr />
    <h4>Fun Facts</h4>
    @Html.Action("Statistics")
  </div><!--/span-->

  <div class="span6">
    @{ Html.RenderAction("Index", "ImageSlider"); }
    <div class="row-fluid">
      <div class="span4">
        <h2>Sites</h2>
        <p>Browse the great work that is going on at one of our many sites! Use the drop-down at the top-left to find one you like.</p>
      </div><!--/span-->
      <div class="span4">
        <!--Statistics view for the right section display starts here-->
        Hi
        <!--Statistics view for the right section display starts here-->
      </div><!--/span-->
      <div class="span4">
        <h2>Topics</h2>
        <p>Learn about other projects! Choose a category from the top menu and explore.</p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
  <div class="span2"></div>
  <div class="span8">@Html.Action("_HostSitesMap")</div>
</div>
@*@Html.Raw( @Model.Content )*@

@*@Html.Action("Wizard")*@ 

<script>
  $(function () { 
    function tick() {
      $('#ticker li:first').animate({ 'opacity': 0 }, 400, function () { $(this).appendTo($('#ticker')).css('opacity', 1); });
    }
    setInterval(function () { tick() }, 3500);
  });
</script>