@model RFH.Models.ContentData
		   
@{
	ViewBag.Title = "Produce Recovery Guide";
}

<div id="MainWindow">

	<div id="MainWindowTop">
		<div id="WelcomeContent">
			@Html.Raw( @Model.Content )
		</div>
	</div>

	<hr style="clear:both;" />

	<div id="MainWindowBottom">
        @Html.Action("Wizard")
	</div>

</div>
