@model RFH.Models.HomeNewsFeedViewModel

<ul id="newsfeedticker" class="ticker">
    @foreach (var item in Model.NewsFeedItems)
    {
        <li class="tickeritem"><span class="tickerDescription">@Html.Raw(@item.Description)</span></li>
    }
</ul>
