@model RFH.Models.HomeStatisticsViewModel

<ul id="ticker">
  @foreach (var item in Model.StatisticsItems) {
    <li class="tickerItem"><span class="tickerDescription">@item.Description</span>: @item.Value @item.Units</li>
  }
</ul>