@model RFH.Models.HomeWizardViewModel

<div class="searchWizard floatcontainer">

    <h2>Find a Host Site</h2>
    <p>Find host sites relevant to your interests by selecting one or more filters below.</p>

    <div class="search">
        <h3>Search Criteria</h3>
        @foreach (var item in Model.TagItems) { 
            <div class="question">    
                <p>@item.TagName:</p>
                @Html.DropDownList("tag" + item.TagId, item.TagValues, "Any")
            </div>
        }
    </div>

    <div class="results">
        <h3>Search Results</h3>
        <div id="hostSiteContainer"></div>
    </div>
    
    <script type="text/javascript">
        var hostSites = @Html.Action("wizardjsondata");
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/wizard.js")"></script>

</div>