@model RFH.Models.Page

@{
    ViewBag.Title = Model.Name;
}

<div class="row-fluid mainContent">
  <div class="span1"></div>
  <div class="span7">
    <div class="heroSpacer"></div>
    <div class="hero-unit sitehero" align="middle">
      <h2>@Model.Name</h2>
      <div class="heroSpacer"></div>
      <p><img class="siteImage" src="/Content/cmsImages/@Model.HeroFileName" /></p>  
  </div>
    @{
      var articleList = Model.Articles.ToList();
      var articleCount = articleList.Count;
      var masterCounter = 0;      
    }
      <h3>Background</h3>
      @for (int i = 0; i <= articleList.Count()/3; i++)
      {
          <div class="row-fluid">
              @for (int j = 0; j < 3; j++)
              {
                  if (masterCounter == articleCount)
                  {
                      break;
                  }
                  var article = articleList[masterCounter];
                  <div class="span4">
                      <h4>
                          @Html.ActionLink(article.Title, "Index", "Article", new { id = article.Id}, null)
                      </h4>
                      <p>@article.ShortDescription</p>
                      <p>@Html.ActionLink("View Details >>", "Index", "Article", new { id = article.Id }, new {@class = "btn" })</p>
                  </div>
                  masterCounter++;
              }
          </div>
      }      
  </div>
</div>