@model RFH.Models.HostSiteTagValue

<div class="editor-label">
    @Html.LabelFor(model => model.HostSiteTag.Name)
</div>
<div class="editor-field">
    @Model.HostSiteTag.Name
</div>

@Html.EditorFor(model => model.Name)
@Html.EditorFor(model => model.SortOrder)