/* admin styles */

body
{
    margin: 10px;
    padding: 0;
    font-family: Arial;
    color: black;
}

h1 {
    color: #DDD;
    font: normal normal normal 1.4em Arial;
}

h2 {
    color: #CCC;
    font: normal normal normal 2.2em Arial;
}

h3 {
    color: #666;
    font: normal normal normal 2.0em Arial;
    margin: 30px 0;
}

a {
    color: #006699;
}

#header {
    position: relative;
}
    #header #primaryNav
    {
        background: #EEE;
        padding: 10px;
    }
        #header #logout {
            position: absolute;
            top: 0;
            right: 0;
        }
        #header #primaryNav li {
            display: inline;
            margin-right: 20px;
        }

            #header #primaryNav li a {
                font: normal normal bold 1em Arial;
            }
#content {
    padding: 0 10px 10px 10px;
    margin-bottom: 50px;    
}

#adminIndexView li {
    margin-bottom: 20px;
}

    #adminIndexView li a {
        font-size: 2em;
    }
 
#manageHostDetailTopActions {
    width: 500px;
    padding: 6px 0; 
}   
    #manageHostDetailTopActions li {
        display: inline;
        color: #006699;
        margin-right: 20px;
    }

#manageImageIndex li {
    width: 300px;
    display: inline;
}
    #manageImageIndex li img {
        height: 170px;
        width: 200px;
    }

#manageDocumentIndex ul {
    list-style-type: none;
}

#hostSiteDetailTable {
    border: 1px solid #ccc;
}
    #hostSiteDetailTable td.hostSiteInfo {
        border-bottom: 1px solid #ccc;
    }
    #hostSiteDetailTable td.metaDataInfo {
        border-left: 1px solid #ccc;
    }
    #hostSiteDetailTable td.hostSiteInfo,
    #hostSiteDetailTable td.metaDataInfo,
    #hostSiteDetailTable td.articleInfo {
        padding: 0 10px 10px 10px;
        vertical-align: top;
    }

.standardButton {
    font-size: 1.4em;
    padding: 4px 20px;
}

.inline {
    display: inline;
}

.standardTable {
    border: 1px solid #CCC;
}
    .standardTable td {
        padding: 8px 6px;
        max-width:600px;
        vertical-align:top;
    }
        .standardTable thead th {
            text-align:left;
            font-weight: bold;
            background: #EEE;
            color: #333;
            padding-left:4px;
            font:normal normal bold 1em Arial;
        }
        .standardTable tbody tr.hover {
            background-color:#FFFF99;
        }

.twoColumnTable td {
    padding: 10px;
    vertical-align: top;
}
    .twoColumnTable td:first-child {
        font-weight: bold;
        min-width: 130px;
    }
        
.editor-label {
    font-weight: bold;
    margin:0 0 10px 0;
}
.editor-field {
    margin:0 0 30px 0;
}
    .editor-field input {
        width: 400px;
    }
    .editor-field input.checkbox {
        width: auto;
    }
    .editor-field textarea {
        width: 800px;
        height: 80px;
    }
   
.display-label {
    font-weight: bold;
    margin:0 0 10px 0;
    color:#666;
}
.display-field {
    margin:0 0 30px 0;
}

.formContainer {
    border: 1px solid #CCC;
    padding: 30px;
    margin: 0 0 30px 0;
}

.htmlField {
    background: #EEE;
    padding: 20px;
    margin-right: 10px;
}
    .htmlField h1 {
        color: #000;
        font: normal normal normal 2em Arial;
    }
    .htmlField h2 {
        color: #000;
        font: normal normal normal 1.6em Arial;
    }
    .htmlField h3 {
        color: #000;
        font: normal normal normal 1.2em Arial;
    }

.field-validation-error,
.validation-summary-errors {
    color:#F00;
}

.hidden {
    display: none;
}