/******************************************************************************
 ** LAYOUT
 *****************************************************************************/
 
body {
    background: #060;
}
#header {
    height: 163px;
    background: #a68661;
}
#wrapper {
    position: relative;
}
#content {
    margin-left: 251px;
    background: #e5dcd1;
    padding: 20px;
}
#sidebar {
    width: 251px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
}
#footer {
    padding: 4px 0;
}

/******************************************************************************
 ** HEADER
 *****************************************************************************/

#header .logo {
    float: left;
    padding: 1ex 0;
    margin-right: 1em;
    width: 250px;
    border-right: 1px solid white;
    background: #c69c6d;
}
#header .logo h1 {
    display: block;
    margin: 0 auto;
    width: 137px;
    height: 146px;
    background: url('images/newHeader.png') no-repeat left top;
    text-indent: -9999px; /* hide text from humans, but not bots */
}
#header .siteTitle {
    display: block;
    height: 90px;
    background: #c69c6d;
}
#header .siteTitle h2, 
#header .siteTitle h3 {
    font-family: "Impact" , "Impact Regular" , Sans-Serif;
    font-weight: normal;
    margin: 0;
}
#header .siteTitle h2 {
    padding: 10px 0 0 10px;
    color: #363636;
    font-size: 2.4em;
}
#header .siteTitle h3 {
    padding: 0px 0 0 10px;
    color: #FFF;
    font-size: 1.4em;
}

/******************************************************************************
 ** FOOTER
 *****************************************************************************/
#footer {
    font-size: 0.9em;
    padding: 10px;
}
#footer,
#footer a {
    color: #cf9431;
}

/******************************************************************************
 ** GENERAL TAG STYLES
 *****************************************************************************/

body {
    font-family: Helvetica, Arial, Sans-Serif;
    color: #000;
}
a {
    color: #030;
    text-decoration: underline;
}
a:hover {
    color: #060;
    text-decoration: underline;
}
h1, h2, h3 {
    font-family: Helvetica, Arial, Sans-Serif;
}
h1 {
    font-size: 2em;
    margin: 20px 0;
}
h2 {
    font-size: 1.6em;
    margin: 16px 0;
}
h3 {
    font-size: 1.2em;
    margin: 12px 0;
}
p {
    margin: 10px 0;
}
li {
    margin: 20px 30px;
    list-style-type: disc;
}
hr {
    margin: 30px 0;
}
dt {
    margin: 0 0 6px 0;
}
dd {
    margin: 0 0 14px 0;
}

/******************************************************************************
 ** NAV MENU STYLES
 *****************************************************************************/

.navPaneSection .generalResource {
    border-bottom: 1px solid #060;
    border-top: 1px solid #060;
}
.navPaneSection .sidePane {
    padding: 5px 0px;
    margin: 0px 20px;
}
    .navPaneSection .sidePane h2, 
    .navPaneSection .sidePane h3 {
        margin: 14px 0;
        font: normal normal normal 1.4em Helvetica, Arial, Sans-Serif;
        color: #363636;
    }
    .navPaneSection .sidePane a {
        font-size: 1.2em;
    }
    .navPaneSection .sidePane ul {
        font-size: smaller;
    }
        .navPaneSection .sidePane ul li {
            margin: 0 0 12px 0;
            list-style-type: none;
        }
            .navPaneSection .sidePane ul li.current a {
                text-decoration: none;
                color: #060;
            }

/******************************************************************************
 ** PAGE STYLES
 *****************************************************************************/
#content h2:first-child {
    margin-top: 0;
}
.goUp {
    font-size: smaller;
    font-style: italic;
    margin: 1em 0;
}
.breadCrumb {
    font-size: smaller;
    font-style: italic;
    margin-bottom: 1em;
}
.matchingArticles {
    margin-top: 30px;
}
.matchingArticles p {
    line-height: 1.4em;
}
#hostSiteMetadata {
    float: right;
    border: 1px solid #666;
    padding: 10px 20px;
    border-radius: 10px;
    background: #FFF;
    margin: 0 0 30px 30px;
}
#hostSiteMetadata h3 {
    border-bottom: 1px solid #666;
}
#hostSiteMetadata ul {
    /* margin: 0;
    padding: 0; */
}
    #hostSiteMetadata ul li {
        margin: 0 0 10px 0;
    }
    #hostSiteMetadata .tags li {
        list-style-type: none;
        font-weight: bold;
        color: #333;
    }
        #hostSiteMetadata .tags .tagValues li {
            list-style-type: disc;
            margin-left: 30px;
            font-weight: normal;
            color: #000;
        }

/******************************************************************************
 ** SEARCH WIZARD STYLES
 *****************************************************************************/
.searchWizard {
    clear: both;
    width: 860px;
    margin-top: 40px;
}
.searchWizard .search {
    float: left;
    width: 500px;
    background: #eee;
    border: 2px solid #060;
    padding: 10px;
}
.searchWizard .results {
    position: relative;
    float: right;
    width: 300px;
    background: #eee;
    border: 2px solid #060;
    padding: 10px;
}
.searchWizard h3 {
    margin: 0 0 1em;
}
.searchWizard .search .question {
    clear: both;
    margin-bottom: 1em;
}
.searchWizard .search .question p {
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}
.searchWizard .search .question select {
    width: 50%;
}
.searchWizard .results > * {
    display: block;
    margin-bottom: 1ex;
}
.searchWizard .sorry {
    color: #900;
}
.searchWizard .results li {
    list-style-type: none;
    margin: 0 0 20px 0;
}

/******************************************************************************
 ** UTILITY CLASSES
 *****************************************************************************/

.hidden {
    display: none;
}
.clear {
    clear: both;
}
.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
}
