.mainContent {
  margin-top: 10px;
}

.pushLeft {
  margin-left: 100px;
}

.heroSpacer {
  height: 10px;
  display: block;
}

.sitehero {
  padding: 7px 50px 25px 50px;
}

.sitehero p {
  font-size: 0.9em;
}

.siteImage {
  height: 300px;
}

.articleContent {
  margin-top: 15px;
}

.articleImage {
  float: left;
  margin: 0 13px 2px 0;
  height: 100px;
  width: 100px;
}
.alignC { text-align: center; }

.hostSiteLogo {
    width: 150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.hostSiteLink {
    text-align: center;
}

.skyScraperSpacer {
  display: block;
  height: 35px;
}
.hostSiteSkyscraper {
    border: 1px solid #E9E9E9;
    padding-left: 25px;
}

.word-wrap {
    word-wrap: break-word;
}

#ticker {
  height: 60px;
  overflow: hidden;
  list-style: none;
  margin: 0;
}

#ticker li {
  height: 60px;
}

#map_canvas {
  height: 440px;
}

#map_canvas h4 {
  font-size: 1em;
}

.mapRow {
  margin-top: 15px;
}

.breadCrumb {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.comment {
  margin-top: 15px;
  position: relative;
  background-color: #E9E9E9;
  padding: 13px;
  height: 75px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.commentHeader {
  margin-top: 7px;
  clear: both;
}

.comment .name {
  font-size: 1.2em;
  font-weight: bold;
}

.comment .text {
  font-size: 1.2em;
  display: block;
  margin-top: 5px;
  text-align: left;
  width: 80%;
  height: 60px;
  overflow: auto;
}

.createComment {
  margin-top: 10px;
}

.commentBlock {
  position: absolute;
  left: 13px;
}

.gravatar {
  position: absolute;
  right: 13px;
}

.gravatar img {
    -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

footer p {
    text-align: center;
    width: 65%;
    margin: 5px auto;
    font-size: .9em;
}