@model IEnumerable<RFH.Models.HostSite>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  var map;
  var previouslyOpenedInfoWindow;

    $(function () {
      initialize();
      $.get('/api/hostsiteapi', function (data) {
          data.forEach(function(site) {
              showMarker(site);
          });
      });
    });

    function initialize() {
      var mapOptions = {
        zoom: 7,
        center: new google.maps.LatLng(47.55, -120.75),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
    }


    function showMarker(site) {
        var contentString = '<div><h4><a href="/Site/' + site.UrlFriendlyName + '">' + site.Name + '</a></h4><p>' + site.Address + '</p><p>' + site.City + ', ' + site.State + ' ' + site.Zip +
                  '</p></div>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        
        var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(site.Latitude, site.Longitude)
        });
        
        google.maps.event.addListener(marker, 'click', function () {
            if (previouslyOpenedInfoWindow != null) {
                previouslyOpenedInfoWindow.close();
            }
            previouslyOpenedInfoWindow = infowindow;
            infowindow.open(map, marker);
        });
    }
</script>

<div id="map_canvas"></div>
