<p class="credits">
    &copy; 2011 <a href="http://www.firstharvest.org/">Rotary First Harvest</a>
    - a program of Rotary District 5030.
    All rights reserved.
    Site created by a @Html.ActionLink("GiveCamp project team", "GiveCamp", "Home").
</p>
<p class="disclaimer">
    RFH and its programs are funded exclusively through the financial support of Rotary District 5030,
    corporations, foundations and individuals, with no support from, affiliation with, or endorsement by Rotary International,
    which accepts no liability therefor.
</p>