@using RFH.Models;
@model ImageSliderModel
<div id="slidyBanner" class="slidyContainer" title="First Harvest">
    <div class="slidySlides">
    @for (int i = 0; i < Model.Slides.Count; i++) {
        <figure class="@(i==0 ? "slidyCurrent" : "slidy")">
            <img src="@Url.Content(Model.Slides[i].Src)" alt="@Model.Slides[i].Alt" />
        </figure> 
    }
    </div>
</div>
