<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Rotary First Harvest</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/Content/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/Content/Site.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/google.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" id="mainTitle" href="/">Home</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sites<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Interactive</li>
                  <li><a href="#">View Map</a></li>
                  <li><a href="#">Find a site</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Sites</li>
                  <li><a href="#">Olympia</a></li>
                  <li><a href="#">Wenatchee</a></li>
                  <li><a href="#">Vancouver</a></li>
                  <li><a href="#">Walla Walla</a></li>
                  <li><a href="#">Carnation</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Background<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">History</a></li>
                  <li><a href="#">Partnerships</a></li>
                  <li><a href="#">Volunteer Relations</a></li>
                  <li><a href="#">Visibility (Marketing)</a></li>
                  <li><a href="#">Donor Relations</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gleaning<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Orchards</a></li>
                  <li><a href="#">Row Crops</a></li>
                  <li><a href="#">Fruit Tree Harvest</a></li>
                  <li><a href="#">Market Recovery</a></li>
                  <li><a href="#">U-Pick</a></li>
                  <li><a href="#">Culls/Harvested</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gardening<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Plant a Row/Starts</a></li>
                  <li><a href="#">Community Garden</a></li>
                  <li><a href="#">Food Bank Farms</a></li>
                  <li><a href="#">Education</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="navbar-form pull-right">
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
   <div class="container-fluid">
      @RenderBody()
      <hr>
      <footer>
        <p>&copy; @DateTime.Now.Year Rotary First Harvest, a program of Rotary District 5030.</p>
        <p>RFH and its programs are funded exclusively through the financial support of Rotary District 5030,
    corporations, foundations and individuals, with no support from, affiliation with, or endorsement by Rotary International,
    which accepts no liability therefor.</p>
      </footer>
    </div>
    @Html.Partial("_Nav")
    <script src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>
</body>
</html>
