<div class="navPaneSection">
    <div class="categoryNavPane sidePane">
        @Html.Action("ListCategory", "NavigationList")
    </div>
    <div class="hostSiteNavPane sidePane generalResource">
        @Html.ActionLink("General Resources", "GeneralResource", "Home")
    </div>
    <div class="hostSiteNavPane sidePane">
        @Html.Action("ListSite", "NavigationList")
    </div>
</div>