@model IEnumerable<RFH.Models.Article>
@{
}
<style type="text/css">
    ul { list-style: none;}     
    .categoryTitle{ font-size: 1.8em; font-color: #121212; font-weight: bold; }
    .categoryDescription{ font-size: 1.0em; font-color: #121212; }
    .hostSite { font-size: 0.9em; font-weight: bold;}
    .shortDescription { font-size: 0.8em; font-color: #121212; }
</style>
<div class="categoryTitle">@ViewBag.Title</div>
<div calss="categoryDescription">@ViewBag.Description</div>
@foreach (var item in Model)
{
    
    <ul>
        <li class="hostSite">@item.HostSite.Area</li>
        <li class="shortDescription">@item.ShortDescription &nbsp;@Html.ActionLink("...", null, "Article", new { id = item.Id}, null)</li>
    </ul>
   
}