@using RFH.Models
@model HostSite

<h2>Manage HostSites</h2>

<div>
            
    @using (Html.BeginForm()) {
        
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" class="standardButton" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
              
</div>
