@using RFH.Models
@model HostSite

<h2>Manage HostSites</h2>

<div>
            
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Edit Host</legend>

            @Html.HiddenFor(model => model.Id)
		    @Html.Partial("_CreateOrEdit", Model)

            <p>
                <input type="submit" value="Save" />
            </p>

        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
              
</div>
