@model RFH.Models.SuperCategory

<div class="display-label">@Html.LabelFor(model => model.Name)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">@Html.LabelFor(model => model.UrlFriendlyName)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.UrlFriendlyName)
</div>
