    <div class="logo">
        <a href="/">
            <h1>Rotary First Harvest - a program of Rotary District 5030</h1>
        </a>
    </div>
    <div class="siteTitle">
        <h2>Produce Recovery Guide</h2>
        <h3>Best practices for distributing local produce to the hungry</h3>
    </div>
    <div class="clear"></div>