<div class="searchWizard">
    <form class="search">
        <h3>Search Filters</h3>
        <div class="question">
            <p>Host Site Type:</p>
            <select name="orgType">
                <option selected value="">Any organization</option>
                <option value="">----</option>
                <option value="foodbank">Food Bank</option>
                <option value="nonprofit">Non-Profit</option>
                <option value="cap">Community Action Program</option>
                <option value="coalition">Coalition</option>
            </select>
        </div>
        
        <div class="question">
            <p>Region Type:</p>
            <select name="regionType">
                <option selected value="">Any region</option>
                <option value="">----</option>
                <option value="rural">Rural</option>
                <option value="urban">Urban</option>
                <option value="suburb">Suburban</option>
                <option value="ruralCity">City in a Rural Area</option>
            </select>
        </div>
        
        <div class="question">
            <p>Agriculture Type:</p>
            <select name="agSize">
                <option selected value="">Any size</option>
                <option value="">----</option>
                <option value="residential">Residential</option>
                <option value="small">Small Scale</option>
                <option value="commercial">Large Commercial</option>
            </select>
        </div>
            
        <div class="question">
            <p>Primary Crops:</p>
            <select name="cropType">
                <option selected value="">Any crops</option>
                <option value="">----</option>
                <option value="veg">Veggie Row Crops</option>
                <option value="fruit">Tree Fruit</option>
            </select>
        </div>
            
        <div class="question">
            <p>Experience (Years):</p>
            <select name="yearsOld">
                <option selected value="">Any experience</option>
                <option value="">----</option>
                <option value="short2">Less than 2</option>
                <option value="med2to5">2 to 5</option>
                <option value="long5">5 or more</option>
            </select>
        </div>
            
        <div class="question">
            <p>Recipient Agencies:</p>
            <select name="numRecipients">
                <option selected value="">Any recipients</option>
                <option value="">----</option>
                <option value="one">1</option>
                <option value="few2to8">2 to 9</option>
                <option value="some10to25">10 to 24</option>
                <option value="many25">25+</option>
            </select>
        </div>
    </form>
    <div class="results">
        <h3>Organizations</h3></div>
    <div class="clear"></div>
    
    <script type="text/javascript">
        var mockHostSites = [
	        {
	            id: 1,
	            name: "Turquoise Falcon",
	            url: "blah",
	            criteria: {
	                "orgType": "foodbank",
	                "regionType": "rural",
	                "agSize": "small",
	                "yearsOld": "long5",
	                "cropType": "veg",
	                "numRecipients": "many25"
	            }
	        },
	        {
	            id: 2,
	            name: "Scarlet Piglet",
	            url: "blah",
	            criteria: {
	                "orgType": "foodbank",
	                "regionType": "urban",
	                "agSize": "commercial",
	                "yearsOld": "short2",
	                "cropType": "fruit",
	                "numRecipients": "one"
	            }
	        },
	        {
	            id: 3,
	            name: "Mauve Komodo Dragon",
	            url: "blah",
	            criteria: {
	                "orgType": "coalition",
	                "regionType": "suburb",
	                "agSize": "commercial",
	                "yearsOld": "med2to5",
	                "cropType": "fruit",
	                "numRecipients": "some10to25"
	            }
	        },
	        {
	            id: 4,
	            name: "Pink Panther",
	            url: "blah",
	            criteria: {
	                "orgType": "nonprofit",
	                "regionType": "suburb",
	                "agSize": "small",
	                "yearsOld": "med2to5",
	                "cropType": "veg",
	                "numRecipients": "many25"
	            }
	        },
	        {
	            id: 5,
	            name: "Cyan Mustang",
	            url: "blah",
	            criteria: {
	                "orgType": "coalition",
	                "regionType": "ruralCity",
	                "agSize": "commercial",
	                "yearsOld": "long5",
	                "cropType": "veg",
	                "numRecipients": "many25"
	            }
	        },
	        {
	            id: 6,
	            name: "Purple Cat",
	            url: "blah",
	            criteria: {
	                "orgType": "foodbank",
	                "regionType": "rural",
	                "agSize": "small",
	                "yearsOld": "med2to5",
	                "cropType": "fruit",
	                "numRecipients": "few2to8"
	            }
	        }
        ];

        $(document).ready(function () {
            g_searchResults = new SearchResults(mockHostSites, $('.searchWizard .results'));
            g_searchWizard = new SearchWizard($(".searchWizard form.search"), g_searchResults);
        });

    </script>
</div>