@model RFH.Models.ArticleIndexViewModel

@{    
    ViewBag.Title = string.Format(
        "{0} - {1}", 
        Model.Article.Title, 
        Model.FromName);
 }

<div class="row-fluid mainContent">
  <div class="span1"></div>
  <div class="span7">
      <div class="breadCrumb">
          @if (Model.Article.HostSite != null)
          {
              Html.ActionLink(Model.Article.HostSite.Name, "Details", "Site", new {Id = Model.Article.HostSite.UrlFriendlyName}, null);
              <text>&gt;</text>
              Html.ActionLink(Model.Article.Category.Name, "Index", "Category", new {Id = Model.Article.Category.UrlFriendlyName}, null);
          }
          else
          {
              Html.ActionLink(Model.Article.Page.Name, "Details", "Page", new {Id = Model.Article.Page.UrlFriendlyName}, null);
          }
      </div>

    <h2>@Model.Article.Title</h2>
    <div>
        @Html.Raw( Model.Article.Content )
    </div>

    <hr class="articleEnd" />   
  </div>

    @if (Model.Article.HostSite != null || Model.RelatedArticles != null)
    {
        <div class="span3">
            <div class="skyScraperSpacer"></div>
            @if (Model.Article.HostSite != null)
            {
                <div class="row-fluid">
                    <p> @{ Html.RenderAction("HostSiteSidebar", "HostSiteSidebar", new {id = Model.Article.HostSite.UrlFriendlyName}); }</p>
                </div>
            }
            @if (Model.RelatedArticles.Any())
            {
                <div>
                    <h3>Related Articles</h3>
                    <ul>
                        @foreach (var relatedArticle in Model.RelatedArticles)
                        {
                            <li>
                                @Html.ActionLink(relatedArticle.Title, "Index", "Article", new {id = relatedArticle.ArticleId}, null)
                            </li>
                        }   
                    </ul>
                </div>
            }
        </div>
    }
</div>