/******************************************************************************
 ** HEADER
 *****************************************************************************/

.header 
{
    display: block;
    width: 100%;
    margin: 0;
    padding: 1ex 0;
    background: url('images/bg/cardboard.jpg');
    border-bottom: 3px solid #060;
}
.header .logo
{
    margin: 0 auto;
    width: 636px;
    height: 146px;
    background: url('images/header.png') no-repeat left top;
    text-indent: -9999px; /* hide text from humans, but not bots */
}
.header .navBar
{
    background: #060;
    color: white;
    font-weight: bold;
}
.header .navBar li { display: inline-block; }

/******************************************************************************
 ** FOOTER
 *****************************************************************************/

.footer 
{
    background: #060;
    width: 100%;
    color: white;
    font-size: smaller;
    clear: both;
}
.footer .credits
{
    text-align: right;
    padding-left: 40%;
}
.footer .disclaimer
{
    text-align: right;
    padding-left: 40%;
    font-size: smaller;
}