body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    color: black;
    background-color: #060;
}

.midsection
{
    width: 100%;
    min-height: 420px;
    margin: 0;
    padding: 1ex 0;
    background-color: White;
}

.navPaneSection
{
    float: left;
    clear: left;
    width: 120px;
    margin: 5px 12px;
}

.navPaneSection .sidePane 
{
    border: 2px solid #060;
    margin: 1ex 0 1em;
}

.navPaneSection .sidePane h2
{
    margin: 0;
    padding: 2px 0;
    font-size: medium;
    text-align: center;
    background: #060;
    color: White;
}

.navPaneSection .sidePane ul 
{
    margin: 0.5ex 1ex;
    padding: 0;
    list-style-type: none;
    font-size: smaller;
}

.navPaneSection .sidePane ul li
{
    margin: 0 0 3px;
}

.contentSection
{
    position: relative;
    margin: 5px;
    margin-left: 150px;
}

.harryPotter .search { float: left; width: 50% };
.harryPotter .search select { display: block; }
.harryPotter .results { border: 2px solid #060; background: #ccc; padding: 1em; float: left; width: 40%; }
.harryPotter .results a 
{
    display: block;
    margin-bottom: 1ex;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* utility crap */

.hidden { display: none ! important; }
.clear {clear: both;}