@model RFH.Models.HostSiteTag

<div class="display-label">@Html.LabelFor(model => model.Name)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>

<div class="display-label">@Html.LabelFor(model => model.SortOrder)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.SortOrder)
</div>